DATABASE_SCHEMA=accessnode
# (Optional) Postgres database URL. If not provided, SQLite will be used. 
DATABASE_URL=

# light | full
VITE_ACCESSNODE_TYPE=light
VITE_ACCESSNODE_URL=http://localhost:42069
